useDynLib(dti)

importFrom(graphics,plot)
exportClasses("dtiData","dtiTensor","dtiIndices")
exportMethods("show","plot","coerce","dti.smooth","dtiTensor","dtiIndices")
export(dtiData,createdata.dti)
export(dti.propagation)
#export(rician)
#export(testnlrdti,create.voxel.data)