useDynLib(dti)
export(create.designmatrix.dti,calculate.lm.dti,determine.eigenvalue,anisotropy)
export(theta.estimate,dt.estimate,tensor.estimate,dt.estimate2)
export(create.dti,getscorr)
export(dtianiso,andir.image)
